<div data-split-pane class="full">
    <div data-split-pane-component data-width="70%">
        <center>
            <table class="table table-bordered table-striped" style="margin-top: 15px; width: 98%">
                <tr>
                    <td>Identifier</td>
                    <td colspan="5">{{app.identifier}}</td>
                    <td>Version</td>
                    <td>{{app.version}}</td>
                </tr>
                <tr>
                    <td>Encrypted</td>
                    <td>
                        <button
                                class="btn"
                                ng-class="{'btn-positive': app.protections.encrypted, 'btn-negative': !app.protections.encrypted}">
                            {{app.protections.encrypted | bool}}
                        </button>
                    </td>
                    <td>PIE</td>
                    <td>
                        <button
                                class="btn"
                                ng-class="{'btn-positive': app.protections.pie, 'btn-negative': !app.protections.pie}">
                            {{app.protections.pie | bool}}
                        </button>
                    </td>
                    <td>ARC</td>
                    <td>
                        <button
                                class="btn"
                                ng-class="{'btn-positive': app.protections.arc, 'btn-negative': !app.protections.arc}">
                            {{app.protections.arc | bool}}
                        </button>
                    </td>
                    <td>Canary</td>
                    <td>
                        <button
                                class="btn"
                                ng-class="{'btn-positive': app.protections.canary, 'btn-negative': !app.protections.canary}">
                            {{app.protections.canary | bool}}
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Executable</td>
                    <td colspan="7">{{app.paths.bin}}</td>
                </tr>
                <tr>
                    <td>Bundle dir</td>
                    <td colspan="7">{{app.paths.bundle}}</td>
                </tr>
                <tr>
                    <td>Data dir</td>
                    <td colspan="7">{{app.paths.data}}</td>
                </tr>
            </table>
        </center>

        <hr>

        <center>
            <table class="table table-bordered table-striped" style="margin-top: 15px; width: 98%">
                <tr>
                    <td>URL Scheme</td>
                </tr>
                <tr ng-repeat="item in app.schemas">
                    <td>{{item}}</td>
                </tr>
            </table>
        </center>

        <hr>

        <center>
            <table class="table table-bordered table-striped" style="margin-top: 15px; width: 98%">
                <tr>
                    <td colspan="2">App entilements</td>
                </tr>
                <tr>
                    <td>keychain-access-groups</td>
                    <td>{{app.keychain.groups}}</td>
                </tr>
                <tr>
                    <td>com.apple.developer.team-identifier</td>
                    <td>{{app.keychain.team}}</td>
                </tr>
                <tr>
                    <td>application-identifier</td>
                    <td>{{app.keychain.app}}</td>
                </tr>
                <tr>
                    <td>get-task-allow</td>
                    <td>{{app.keychain.task}}</td>
                </tr>
            </table>
        </center>
    </div>
    <style>.split-pane-divider-inner{cursor: ew-resize;}</style>
    <div data-split-pane-divider
         data-width="5"></div>
    <div data-split-pane-component data-width="30%">
        <div class="list-group-header">
            <input class="form-control" type="text" ng-model="query.query" placeholder="Search for something">
        </div>

        <div ng-if="">
            <center ng-if="loading">
                <img src="img/loading.gif">
                <p>Loading...</p>
            </center>
        </div>
        <div ng-if="!loading">
            <json-formatter
                style="padding-left: 20px"
                json="plist"
                open="1">
            </json-formatter>
        </div>

    </div>
</div>